/* defult css */

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}


dody,
h1,
h2,
h3,
p {
    font-family: 'Bona Nova', serif;
}

/* header css start */


header {
    display: flex;
    justify-content: center;
    background: #195730;
    padding: 25px 0;
}

.header-container {
    width: 1160px;
}

.header-item {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
}


.header-menu nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 10px;
    color: #fff;
    transition: .6s;
}

.header-menu nav a:hover {
    color: #3dbafd;
    letter-spacing: 2px;
}

.header-button {
    width: 100%;
    text-align: right;
}


.defult-btn {
    background-image: linear-gradient(red, green);
    font-size: 17px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    position: relative;
    border: none;
    z-index: 1;
    text-decoration: none;

}

.defult-btn a {
    text-decoration: none;
    color: #fff;
}

.defult-btn::before {
    content: '';
    background: rgb(0, 153, 255);
    height: 100%;
    width: 0;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}

.defult-btn:hover::before {
    width: 100%;
}

/* banner css */

.banner-section {
    display: flex;
    justify-content: center;
    /* background: #2d25a0; */

    background: #195730;
    padding: 100px 0;
}

.banner-container {
    width: 1060px;
    margin-top: 40px;
}

.banner-item {
    display: grid;
    grid-template-columns: auto auto;
}

.banner-content h1 {
    color: #fff;
    font-size: 68px;
    margin-top: 80px;
    margin-bottom: 25px;
    margin-right: 50px;
}

.banner-img {
    width: 560px;
    transition: .5s;
}

.banner-img:hover {
    transform: skewY(30deg);
}

.banner-img img {
    width: 100%;
}

/* blog css */


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-section {
    padding-top: 70px;
}

.common-container {
    width: 1050px;
}

.blog-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
}

.player {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-img {
    transition: 0.6s;
}

.player-img:hover {
    transform: scale(1.2);
    background: rgba(252, 252, 46, 0.267);
    cursor: pointer;
}



.blog-players article img {
    width: 100%;
}

.blog-players article h1 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 16px;
}

.blog-players article p {
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    margin: 15px 0;
    line-height: 26px;

}

/* highlight css */


.highlight-section {
    padding-top: 150px;
    padding-bottom: 50px;
}

.highlight-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 69px;
}

.highlight-content {
    margin-top: 50px;
}

.highlight-content h1 {
    font-size: 50px;
    line-height: 60px;
}

.highlight-content p {
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-top: 10px;
    margin-bottom: 24px;
}

.highlight-img img {
    width: 100%;
}

/* high vlotage match */

.high-voltage-match {
    padding: 100px 0;
}

.section-title {
    text-align: center;
    border-bottom: 2px solid #ddd;
    margin-bottom: 50px;
}

.section-title h1 {
    font-size: 55px;
    color: #564bf1;
}

.match-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.match-items.item iframe {
    width: 100%;
}


/* team section */

.team-section {
    display: flex;
    justify-content: center;
}


.team-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 0;
}

.team-item {
    text-align: center;
}

.team-item h2 {
    margin-bottom: 15px;
}

/* footer */

footer {
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 500px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-title img {
    width: 100%;
}

.footer-social-menu {
    margin: 20px 0;
}

.footer-social-menu nav ul {
    list-style: none;
    display: flex;
}

.footer-social-menu nav ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    background: #86838369;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 36px;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
}


.footer-bottom p {
    font-size: 24px;
}